// 自定义字体
@font-face {
  font-family: 'Cartoonfont';
  src: url('@/assets/fonts/KGInimitableOriginal.ttf');
}

@font-face {
  font-family: 'Thinfont';
  src: url('@/assets/fonts/CaviarDreams.ttf');
}

@font-face {
  font-family: 'urafont';
  src: url('@/assets/fonts/uzura.ttf');
}
@font-face {
  font-family: 'maoken';
  src: url('@/assets/fonts/maoken.ttf');
}